@font-face {
    font-family: "Pacifico";
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    text-align: center;
}

.homes{
    background-image: url('../images/bg.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    border: none; 
    border-radius: 3% 25% 3% 20%;
    margin-top: 2%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.avatarAnimation:hover {
    animation: motion 10s ease infinite alternate   ;
}

@keyframes motion {
    0%   { border-radius: 120px; }                   
    20%  { border-radius: 120px 110px 110px 120px; } 
    40%  { border-radius: 140px 130px 130px 140px; } 
    60%  { border-radius: 120px 110px 110px 120px; } 
    80%  { border-radius: 100px; }                  
    100% { border-radius: 120px; }                    
}
